.card {
  position: relative;
  width: 137px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 14px;
}

.coverWrapper {
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  background: #1f1f1f;
}

.cover {
  .cover {
    width: 137px;
    height: 208px;
    object-fit: cover;
    border-radius: 8px;
    background-color: #1e1e1e;
  }
}

.meta {
  padding-right: 32px;
}

.title {
  font-size: 14px;
  font-weight: 700;
  color: #f9f9f9;
  line-height: 18px;
  white-space: nowrap; /* забороняє перенос рядка */
  overflow: hidden; /* ховає зайвий текст */
  text-overflow: ellipsis; /* додає ... */
}

.author {
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  color: #686868;
}

.deleteBtn {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 28px;
  height: 28px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.08);
  border: none;
  cursor: pointer;
}

.deleteBtn:hover {
  background: rgba(255, 255, 255, 0.16);
}
