.logo {
  font-size: 16px;
  line-height: 12px;
  font-weight: 800;
  margin-left: 120px;
  margin-right: 960px;
}

.logoText {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.02em;
  font-weight: 700;
  margin-left: 4px;
}
