.container {
  display: flex;
  align-items: center;
  /* padding: 20px; */
}

.logoText {
  display: none;
}

@media screen and (min-width: 768px) {
  .logoText {
    display: inline;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.02em;
    font-weight: 700;
    margin-left: 4px;
  }
}
