.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #262626;
  border: 1px solid rgba(249, 249, 249, 0.2);
  color: #f9f9f9;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.name {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.logoutBtn {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 6px 16px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.logoutBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* @media (max-width: 1439px) {
  .name {
    display: none;
  }
} */
