.button {
  background: #3470ff;
  border-radius: 12px;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #fff;
}

.icon {
  background-color: transparent;
  border: 0;
  padding: 0;
  line-height: 0;
  box-shadow: none;
}
