.backdrop {
  position: fixed;
  inset: 0;
  /* width: 200px; */
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  /* align-items: center; */
  justify-content: flex-end;
  z-index: 2000;
}

.menu {
  width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  position: relative;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.closeBtn {
  position: absolute;
  top: 34px;
  right: 40px;
  background: none;
  border: none;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 280px;
}

.link {
  text-decoration: none;
  font-weight: 500;
  color: #686868;
  text-align: left;
  font-size: 14px;
  line-height: 18px;
  transition: color 0.2s ease;
}

.link:hover {
  color: #f9f9f9;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #4f92f7;
}

/* .active {
  color: #f9f9f9;
  text-decoration: underline dotted #4f92f7 3px;

  position: relative;
} */

.active::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
}

.logoutBtn {
  margin-top: 394px;
  width: 91px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}
