.overlay {
  position: fixed;
  inset: 0;
  width: 200px;
  background-color: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu {
  width: 90%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 34px;
  right: 40px;
  background: none;
  border: none;

  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 280px;
  color: #686868;
  text-align: left;

  font-size: 14px;
  line-height: 18px;

  font-weight: 500;
}

.active {
  color: #f9f9f9;
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
}

.logoutBtn {
  margin-top: 394px;
  width: 91px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}
