.wrap {
  background-color: #262626;
  border-radius: 12px;
  padding: 20px;

  /* max-width: 300px; */
}

.title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.item {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}

.item::before {
  content: counter(step);
  counter-increment: step;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  color: #1c1c1c;
  font-weight: 600;
  font-size: 14px;
  flex-shrink: 0;
}

.list {
  counter-reset: step;
}

.text {
  font-size: 14px;
  line-height: 1.4;
  color: #fff;
}

.part {
  color: #bfbfbf;
}

.blokLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  color: #bfbfbf;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.2s ease;
}

.link:hover {
  color: #fff;
}

svg {
  width: 16px;
  height: 16px;
  color: #fff;
}
