.header {
  padding: 10px 0;
}

.pageWrap {
  background-color: #1f1f1f;
  /* width: 100%; */
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.mobileHeader {
  display: flex;
  align-items: center;
  margin-left: 180px;
  gap: 10px;
}

.burgerBtn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .burgerBtn {
    display: none;
  }
}
