.header {
  display: flex;
  background-color: #1f1f1f;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 10px;
  width: 100%;
}

.pageWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.burgerBtn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .burgerBtn {
    display: none;
  }
}
