.header {
  background-color: #1f1f1f;
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}

.pageWrap {
  width: 100%;
  max-width: 335px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burgerBtn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .burgerBtn {
    display: none;
  }
}
