.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  border-radius: 30px;
  padding: 20px;
  min-height: 300px;
}

.selectFilter {
  display: flex;
  justify-content: space-between;
}

.title {
  color: #f9f9f9;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

.emptyState {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.iconWrapper {
  width: 100px;
  height: 100px;

  background-color: #262626;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 10px;
}

.book {
  width: 50px;
  height: 50px;
}
.text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #f9f9f9;
  max-width: 197px;
}

.part {
  color: #686868;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: transparent;
}

.icon {
  width: 22px;
  height: 22px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.modalImage {
  width: 140px;
  height: 213px;
  border-radius: 8px;
}

.modalTitle {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 2px;
  margin-top: 16px;
  text-align: center;
}

.modalAuthor {
  color: #686868;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}

.pages {
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
}

.link {
  border-radius: 30px;
  border: 1px solid rgba(249, 249, 249, 0.2);
  color: #f9f9f9;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  font-weight: 700;
  overflow: hidden;
  width: 141px;
  padding: 12px;
  text-align: center;
  margin-top: 20px;
}

.link:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
