.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  border-radius: 30px;
}

.title {
  color: #f9f9f9;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

.text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #f9f9f9;
}

.part {
  color: #686868;
}
