.pageWrap {
  display: flex;
  min-height: 100vh;
  padding-top: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.formSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 375px;
  background-color: #1f1f1f;
  border-radius: 30px;
  margin-bottom: 10px;
  /* padding-top: 20px;
  padding-left: 20px; */
  padding-right: 20px;
}

.imageSection {
  display: flex;
  max-width: 375px;
  width: 100%;
  border-radius: 30px;
  background-color: #1f1f1f;
  margin-bottom: 20px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
    max-width: 768px;
  }

  .imageSection {
    display: block;
    flex: 1;
    max-width: 320px;
  }
}

@media screen and (min-width: 1440px) {
  .pageWrap {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .content {
    gap: 120px;
    max-width: 1200px;
  }

  .formSection {
    align-items: flex-start;
  }

  .imageSection {
    max-width: 400px;
  }
}
