.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  background-color: #1f1f1f;
  border-radius: 30px;
  max-width: 335px;
  min-height: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dashboard {
    /* gap: 48px; */
    padding: 32px;
    max-width: 340px;
  }
}

@media screen and (min-width: 1440px) {
  .dashboard {
    gap: 60px;
    padding: 40px;
    max-width: 400px;
  }
}
