.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 14px;
}

.text {
  color: #686868;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.star {
  width: 80px;
  height: 80px;
  background-color: #262626;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconStar {
  width: 32px;
  height: 32px;
}
