.wrapper {
  padding: 20px 40px 0 40px;
}

.picture {
  width: 255px;
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #1f1f1f;
}
