.wrapper {
  padding: 20px 40px 0 40px;
}

.picture {
  width: 255px;
  height: 331px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/iPhone15mob.jpg);
}
