.wrapper {
  padding: 20px 40px 0 40px;
}

.picture {
  width: 255px;
  height: 331px;
  position: relative;
  /* border-radius: 30px; */
  overflow-y: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fity: contain;
}
