.wrapper {
  padding: 20px 40px 0 40px;
}

.picture {
  width: 255px;
  position: relative;
  /* border-radius: 30px; */
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: inset(5%);
}
