.wrapper {
  padding: 20px 40px 0 40px;
}

.picture {
  width: 255px;
  height: 331px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/iPhone15mob.jpg);
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .picture {
    background-image: url(/iPhone15mob2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .picture {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .picture {
    width: 405px;
    height: 800px;

    background-image: url(/iPhone15desk.jpg);
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .picture {
    background-image: url(/iPhone15desk2x.jpg);
  }
}
