.wrapper {
  padding: 20px 40px 0 40px;
}

.picture {
  /* width: 255px; */
  /* position: relative; */
  /* border-radius: 30px; */
  /* overflow: hidden;
  padding: 0; */
  width: 100%;
  height: 370px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      rgba(249 249, 249, 0.1),
      rgba(249, 249, 249, 0.5)
    ),
    url(/public/iPhone.jpg);
}

/* .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
