.wrapper {
  padding: 20px 40px 0 40px;
}

.picture {
  width: 255px;
  height: 331px;
  /* position: relative; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/iPhone\ 15\ mob.jpg);
}

.image {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
