.wrapper {
  padding: 20px 40px 0 40px;
}

.picture {
  width: 255px;
  height: 331px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/iPhone15mob.jpg);
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero-img {
    background-image: url(/iPhone15mob2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-lead {
    padding: 122px 32px 50px;
  }

  .hero-title {
    padding-bottom: 25px;
    font-size: 76px;
  }

  .hero-text {
    max-width: 603px;
    padding-bottom: 50px;
  }

  .hero-img {
    height: 539px;
    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(./images/hero/hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi) {
  .hero-img {
    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../images/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    flex-direction: row;
  }

  .hero-lead {
    padding: 238px 28px 50px 100px;
  }

  .hero-title {
    font-size: 76px;
    padding-bottom: 128px;
    width: 502px;
  }

  .hero-text {
    max-width: 472px;
  }

  .hero-img {
    width: 650px;
    height: 800px;

    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../images/hero/hero-desk.jpg);
  }
}

@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .hero-img {
    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../images/hero/hero-desk@2x.jpg);
  }
