.wrapper {
  display: flex;
  flex-direction: column;
}

.recommendedBlok {
  display: flex;
  background: #1f1f1f;
  border-radius: 30px;
  padding: 40px 20px;
  margin-top: 10px;
}

.title {
  color: #f9f9f9;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  margin-right: 87px;
}

.chevron {
  display: flex;
  gap: 8px;
}
