.preview {
  display: flex;
  flex-direction: column;
  background-color: #262626;
  border-radius: 12px;
  padding: 20px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #e3e3e3;
  margin-bottom: 14px;
}

.blokLink {
  display: flex;
  margin-top: 17px;
  justify-content: space-between;
}

.link {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #686868;
  text-decoration: underline;
}

.icon {
  width: 20px;
  height: 20px;
}
