.backdrop {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.modal {
  position: relative;

  width: 335px;
  /* padding: 40px 98px; */

  background-color: #1f1f1f;
  border-radius: 12px;
  border: 1px solid rgba(104, 104, 104, 0.2);
}
