.btnClose {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.modal {
  padding: 60px 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
}
