.btnClose {
  position: absolute;
  top: 16px;
  right: 16px;
}

.icon {
  width: 22px;
  height: 22px;
}

.modal {
  padding: 60px 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #686868;
}
